body {
    background-color: black;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
}

.calculator {
    background-color: white;
    height: 700px;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.display {
    height: 120px;
    width: 425px;
    align-self: center;
    background-color: pink;
    margin: 10px;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    border: solid black 0.5px;
    flex-direction: column;
}
.display p{
    margin: 0;
}

.inputarea {
    height: 100%;
    margin: 10px;
    display: flex;
    text-align: center;
}

.keypad {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.keypadrow {
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
}

.number{
    width: 30%;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    align-items: center;
    font-size: large;
    font-weight: bold;
}


.calcfunction {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}
/* 
.funct {
    height: 15%;
    width: 90%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: green;
}

.calculate {
    height: 27%;
} */

.function {
    height: 10%;
    font-size: large;
    font-weight: bold;
    background-color: aqua;
    margin-top: 5px;
    margin-bottom: 5px;
}

.process {
    height: 20%;
    width: 180px;
    margin-left: -100px;
    margin-top: 20px;
}

.clear {
    margin-bottom: 25px;
    height: 15%;
    margin-top: 0px;
}